<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1 id="header">Student Details</h1>
    <img id="photo" src="assets/photo.jpg" width="50" height="60" />
    <br /><br />
    <label id="firstName"> Rejan </label>
    <br /><br />
    <label id="lastName"> Biswakarma </label>
    <br /><br />
    <label id="address"> Itahari-07, Sunsari, Nepal </label>
    <br /><br />
    <label id="phone"> 9819022648 </label>
    <br /><br />
    <button (click)="download()">Export</button>
  </body>
</html>
